
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";

    Layout = "_LoginLayout";

   
    var statusCode = ViewBag.StatusCode ?? 500;
    var errorMessage = ViewBag.ErrorMessage ?? "Internal server error";
}



<div class="row justify-content-center">
    <div class="col-lg-6 col-xl-4 mb-4">
        <div class="error-text-box">
            <svg viewBox="0 0 600 200">
                <!-- Symbol-->
                <symbol id="s-text">
                    <text text-anchor="middle" x="50%" y="50%" dy=".35em">@ViewBag.StatusCode!</text>
                </symbol>
                <!-- Duplicate symbols-->
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
            </svg>
        </div>
        <div class="text-center">
            <h3 class="mt-0 mb-2">Whoops!  @ViewBag.ErrorMessage</h3>
            <p class="text-muted mb-3">
                @ViewBag.ErrorMessage
            </p>

            <a href="/Home/UserDashboard" class="btn btn-success waves-effect waves-light">Back to Home</a>
        </div>
        <!-- end row -->

    </div> <!-- end col -->
</div>

<!-- Vendor js -->
<script src="assets/js/vendor.min.js"></script>

<!-- App js -->
<script src="assets/js/app.min.js"></script>

